# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
/[Pp]latforms/

# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# res
resources/signing

# VS
*.user
